<div class="row">
	<h2>About Us</h2>
	<div class="col-md-6">
		<h3>Rucoy Inspiration</h3>
		<p>Rucoy is inspired by classic and retro games which is why we went for a 16-bit style. We wanted to create an RPG for mobile devices in which you could open the game and simply start playing without the need for sign ups or logins. After you get to level 5 you are asked if you would like to link your character to your google account. This way now that the player is invested they can decide if they would like to this is in order to be able to play with their same character in other devices or store it in case they delete their phone data.</p>
	</div>
	<div class="col-md-6">
		<h3>Development Team</h3>
		<ul>
			<li>Ricardo Canales</li>
			<li>Ricardo Gonzalez</li>
		</ul>
	</div>
</div>