<div class="row">
	<h2>Contact Us</h2>
	<div class="col-md-4">
		<h3>Facebook Page</h3>
		<a href="https://www.facebook.com/pg/rucoyonline"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c2/F_icon.svg/1024px-F_icon.svg.png"></a>
	</div>
	<div class="col-md-4">
		<h3>Twitter</h3>
		<a href="https://www.twitter.com/rucoyonline"><img src="https://upload.wikimedia.org/wikipedia/en/thumb/9/9f/Twitter_bird_logo_2012.svg/1259px-Twitter_bird_logo_2012.svg.png"></a>
	</div>
	<div class="col-md-4">
		<h3>Email</h3>
		<p><%= link_to "rucoyonline@gmail.com",   'mailto:rucoyonline@gmail.com' %></p>
		<p>Coyunda #818, Col. La Talaverna,</p>
		<p>Guadalupe, Nuevo León,</p>
		<p>México</p>
	</div>
</div>