<div>
	<h2>Welcome to Rucoy Online!</h2>

	<p>Rucoy Online is a Massively Multiplayer Online Role Playing Game where you can fight monsters with your friends in it’s real time open world.</p>

	<div class="row">
		<div class="col-md-6">
			<h3>Announcements</h3>
			<div>
				<% @announcements["announcements"].each do |val| -%>
					<h4 class="title"><%= val["title"] %></h4>
					<p class="date"><strong>Date: </strong><%= val["date"] %></p>
					<p class="announcement-content"><%= val["content"] %></p>
					<br>
				<% end -%>
			</div>
		</div>
		<div class="col-md-6">
			<h3>Features:</h3>
			<ul class="features">
				<li>Player vs Player (PvP)</li>
				<li>Play as a Knight, Archer or Mage</li>
				<li>You can change your character class anytime</li>
				<li>Use spells to deal more damage</li>
				<li>Ally with other players and form a team to defeat strong monsters and get extra experience</li>
				<li>Hunt dozens of different monsters</li>
				<li>Find the best equipment</li>
				<li>Increase your level and skills without limitations</li>
				<li>Ever growing open world</li>
				<li>Chat with other players</li>
				<li>Customize your character</li>
				<li>No account registration, just link your character to your Google account and that's it</li>
			</ul>
		</div>
	</div>
	

	
	<center>
	<h3>Screenshots</h3>
	
	<div id="carousel-screenshots" class="carousel slide" data-ride="carousel">
		<!-- Indicators -->
		<ol class="carousel-indicators">
			<li data-target="#carousel-screenshots" data-slide-to="0" class="active"></li>
			<li data-target="#carousel-screenshots" data-slide-to="1"></li>
			<li data-target="#carousel-screenshots" data-slide-to="2"></li>
			<li data-target="#carousel-screenshots" data-slide-to="3"></li>
			<li data-target="#carousel-screenshots" data-slide-to="4"></li>
			<li data-target="#carousel-screenshots" data-slide-to="5"></li>
			<li data-target="#carousel-screenshots" data-slide-to="6"></li>
			<li data-target="#carousel-screenshots" data-slide-to="7"></li>
		</ol>

		<!-- Wrapper for slides -->
		<div class="carousel-inner" role="listbox">
			<div class="item active">
				<img src="https://lh3.googleusercontent.com/rPQjTqA5X8_Gep8H9WQRofxouKRrn1DegmD_IWgMM3DmO5OMSoY389OewMkpp4HFpaWx=h900-rw">
			</div>
			<div class="item">
				<img src="https://lh3.googleusercontent.com/nP77DNkUwlScq6gksUopgvk_WIx2UzzoG2bwJhbzzUxyDT7G6D24a4hEbAJR7dMeQNkK=h900-rw">
			</div>
			<div class="item">
				<img src="https://lh3.googleusercontent.com/1cqhUl8F648JfiICNaV-8a019jhLRaq_XRg9Vl5nuOIuE1N9HPRMAC72D2dYnY1nICOw=h900-rw">
			</div>
			<div class="item">
				<img src="https://lh3.googleusercontent.com/QtXJpZtr9O1yhwHzHmFHTkUSXrx-oG2kFimN9r4LWk74Ps7phP5mBxyhnAJzxDfsqZM=h900-rw">
			</div>
			<div class="item">
				<img src="https://lh3.googleusercontent.com/sT1f3W5VGp0oS36kzaQSHQxKyGrrtg0pkXIXYlBbSqLXdJ1OWtDAIES4bZahfnwqbb8=h900-rw">
			</div>
			<div class="item">
				<img src="https://lh3.googleusercontent.com/gdbgAFNvx1IDD-MIDw_8_iy9aSOL-G6Oql_eqq3rd73vWWboQHQH7w5J9r0v5HrYYQ=h900-rw">
			</div>
			<div class="item">
				<img src="https://lh3.googleusercontent.com/deutD4gQBOXzN7Nn9YqajmpP58WOp850i52gMi0nD1jAAaJAhuE-7UpU_mOCzCWkIBg=h900-rw">
			</div>
			<div class="item">
				<img src="https://lh3.googleusercontent.com/A28ewNFhJiQVVwZ1O1Lw0FmeXPNF71vKyJjAt0BEN2nTQmkQ04T3LmV0_4WqfieuK1Y=h900-rw">
			</div>
		</div>

		<!-- Controls -->
		<a class="left carousel-control" href="#carousel-screenshots" role="button" data-slide="prev">
			<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="right carousel-control" href="#carousel-screenshots" role="button" data-slide="next">
			<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>
	</div>

	<h3>Download!</h3>

	<a href='https://play.google.com/store/apps/details?id=com.mmo.android&hl=en&utm_source=global_co&utm_medium=prtnr&utm_content=Mar2515&utm_campaign=PartBadge&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img class="downloadBtn" alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png'/></a>

	</center>
</div>