@import "bootstrap-sprockets";
@import "bootstrap";

h1 {
	color: gold;
	display: inline;
}

h2 {
	font-size: 26px;
}

h3 {
	font-size: 22px;
}

p .features {
	font-size: 18px;
}

.navbar-inverse {
	background-color: #365e36;
    border-color: #365e36;
}

.navbar-inverse .navbar-nav > li > a {
	color: white;
}

.navbar-inverse .navbar-nav > li > a:hover {
	color: #8BC34A;
}

.carousel {
	max-width: 750px;
}

.announcements {
	overflow: auto;
	max-height: 280px;
	color: white;
	background-color: green;
	border-radius: 6px;
	padding: 8px;
}

.announcements::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 16px;
}

.announcements .title {
	color: gold;
}

.announcements::-webkit-scrollbar-thumb {
    background-color: rgba(255,255,255,.3);
    border-radius: 4px;
    border-right: 4px solid rgba(0,128,0,1);
    border-left: 4px solid rgba(0,128,0,1);
}

.announcements::-webkit-scrollbar-track {
	background-color: #365e36;
	border-radius: 4px;
	border-right: 4px solid rgba(0,128,0,1);
	border-left: 4px solid rgba(0,128,0,1);
}

.downloadBtn {
	width: 250px;
}

img {
	max-width: 200px;
}